@import url("form.css");
@import url("button.css");

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    --light-background-color: #fbfbfb;
    --content-background-color: #eae9e3;
    --content-color: rgb(94, 71, 4);
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100vh;
    background: beige;
}

.main-content {
    height: 100vh;
}
